<div class="fuse-card" fxLayoutAlign="space-between center">

    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">


        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nombre</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <input name="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Contraseña anterior</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <input type="password" name="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nueva Contraseña</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <input type="password" name="name" matInput>
        </mat-form-field>

        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
            <button mat-button color="accent">Cancelar</button>
            <button mat-button color="accent">Guardar</button>
        </div>

    </div>
</div>