
<div class="search-wrapper mx-auto">
    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input (keyup.enter)="controlbarra()" [(ngModel)]="documentNumber" name="documentNumber" paceholder="Search for a contact">
    </div>
</div>
<div *ngIf="verMensaje" class="control">
    <div *ngIf="!verRojo">
        <p>{{mensaje}}</p>
    </div>

    <div class="content-card">
        <div *ngIf="verTabla" class="section">
            <div class="customer mb-32">
                <table class="simple">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <span class="name text-truncate">
                                        {{nombre}}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <span class="email text-truncate">{{dni}}</span>
                            </td>
                            <td>
                                <span class="phone text-truncate">{{correo}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="verRojo">
            <div  class="tag ng-star-inserted" fxlayout="row" fxlayoutalign="start center">
                <div class="tag-color" style="background-color: rgb(244, 67, 54);"></div>
                <div class="tag-label">{{mensaje}}</div>
            </div>
        </div>
        
    </div>
</div>


