<div id="academy-courses" class="page-layout simple">


    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Tipo de examen</mat-label>
                    <mat-select [(ngModel)]="currentCategoryTipo" (selectionChange)="filterCoursesByTipo()">
                        <mat-option [value]="0">
                            All
                        </mat-option>
                        <mat-option *ngFor="let category of Tipo" [value]="category.id">
                            {{ category.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput [(ngModel)]="hoy" [matDatepicker]="picker1" placeholder="Choose a date" (ngModelChange)="filtroFechainicio($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput [(ngModel)]="maniana" [matDatepicker]="picker2" placeholder="Choose a date" (ngModelChange)="filtroFechaFin($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let course of filteredCourses" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" [ngClass]="course.category" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="course.statusName + '-bg'">
                            <div class="category" fxFlex>
                                {{course.statusName}}
                            </div>
                            <div class="length" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="length-icon s-20">access_time</mat-icon>
                                <div class="min">{{course.time}} min</div>
                            </div>
                        </div>
                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="h1" color="accent">{{course.name}}</div>
                            <div class="updated">Fecha {{course.examDate}}</div>
                            <div class="updated">Duración {{course.time}}:00 minutos</div>
                        </div>
                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <!-- <button mat-button color="accent" [routerLink]="['/Academia/Cursos',course.id,course.name]"> -->
                            <button (click)="empezarExamen(course.id,course.name,course.time )" mat-button color="accent">
                                INICIAR
                            </button>
                        </div>
                    </div>
                </div>
                <!-- <div class="no-courses" *ngIf="filteredCourses.length === 0">
                    No courses found!
                </div> -->
            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>